.head  {
    display: flex;
    margin: 0;
    width: 100%;
    height: 120px;
    background-color: #003566;
    align-items: center;
}
.h1  {
    margin:0;
    margin-left: 40px;
    color:#FFC300;
    font-size: 64px;
    font-weight:900;
}
.product  {
    margin: 0px;
    width: 100%;
    height: 80px;
    margin-top: 1%;
    /* background-color: pink; */

}
.p_product  {
    margin:0;
    color:#003566;
    font-size:64px;
    text-align:center;
    font-weight:900;
    
}
.mid  {
    display: flex;
    margin: 2%;
    margin-left: 5%;
    /* flex-direction:row; */
    /* margin-top: 1%; */
    width:90%;
    height: 100%;
    /* background-color:green; */

}
.profileImgContainer {
    margin-left: 8px;
    height: 80px;
    width: 80px;
    border-radius: 40px;
    /* background-color: #202020; */
    /* text-align: center; */
}
.space{
    height: 80px;
    width: 36.5%;
    /* background-color: #e9ddb7; */
}
.profile{
    display: flex;
    flex-direction: column;
    color:#ffffff;
    width: 350px;
    height: 100px;
    justify-content: center;
    /* background-color: #FFC300; */
}
.pro1{
    font-size: 30px;
    font-weight:900;
    text-align: right;
    color: #FFC300;
   
}
.pro2{
    font-size: 18px;
    font-weight:900;
    color: #ffffff;
    text-decoration: underline;
    text-align: right;
    margin-top: -5%;
}

.d_logout_btn  {
    display: flex;
    /* margin-top: 3%; */
    width:180px;
    height:80px;
    /* margin-left: 33%; */
    align-items: center;
    justify-content: center;
    /* background-color:pink; */
}
.logout_btn  {
    display: flex;
    color: #ffffff;
    font-size:18px;
    text-align:center;
    font-weight:900;
    background-color: #7cceee;
    width:110px;
    height:42px;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.edit_btn  {
    display: flex;
    color: #FFCC15;
    font-size:16px;
    text-align:center;
    font-weight:900;
    background-color: #003566;
    width:80px;
    height:32px;
    border-radius: 20px;
    justify-content: center;
    align-items: center;

}
.delete_btn  {
    display: flex;
    color: #FFCC15;
    font-size:16px;
    text-align:center;
    font-weight:900;
    background-color: #DB4C4C;
    width:90px;
    height:32px;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
   
}
